[req]


default_bits = 2048
default_md = sha256
encrypt_key = yes
prompt = no
string_mask = nombstr
distinguished_name = client_distinguished_name
req_extensions = req_cert_extensions

[ client_distinguished_name ]
countryName = BR
organizationName = Cypress Org Own
organizationIdentifier = VATBR-889333566138222
organizationalUnitName = 331abd8c-259f-4204-b570-54f612fbc57c
commonName = Cypress_03_09_2025_1f333acfe

[ req_cert_extensions ]
subjectAltName = @alt_name

[ alt_name ]
URI.1 = www.testing.com